<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Add a wish to your Xmas Wish List</h1>

	<h3> New wish! </h3>

	<form method="POST" action="/new_wish">
		
		Wish: <input type="text" name="wish" value="Add a wish">
		
		<input type="submit" name="submit" value="submit">
	</form>

</body>
</html>