<% if flash.has?(:message) %>
  <div class="flash_red"><%= flash[:message] %></div>
<% end %>
<div class="jumbotron">
	<h1 class="text-center">Add a wish to your Xmas Wish List</h1>
</div>
	<h3 class="text-center"> New wish! </h3>

<div class="container">
	<div class="row">
		<div class="col-sm-4"></div>
			<div class="col-sm-4 box">
				<form method="POST" action="/new_wish" class="text-center">	
					<label>Add Wish:</label><br>
					<input type="text" name="wish[content]" value="Add a wish"><br>
					
				    <% Event.all.each do |event| %>
				        <input id="event_<%= event.id %>" type="checkbox" name="wish[event_ids][]" value="<%= event.id %>" class="text-center"> <%= event.event %>
				    <% end %>
				    
				        <br> or create new Event:<br>
				        <input type="text" name="event" class="text-center"><br>
				        <input type="submit" name="submit" value="submit" class="buttons"><br>
				 </form>
		 	</div>
	</div>
 </div>   

<form method="get" action="/home" class="text-center">
	<button type="submit">-My page-</button>
</form>
