<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/wishes.css">
</head>
<body>
	<h1>Welcome <%= @wish.user.name %> </h1>

	<h4>Edit this wish</h4>
	<form method="POST" action="/wishes/<%= @wish.id %>">
	<input type="hidden" name="_method" value="patch">
	Wish: <input type="text" name="content" value="<%= @wish.content %>">
	<input type="submit" name="submit" value="submit">
	</form>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>