<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Welcome <%= @user.name %> </h1>

	<h5>Here is the new wish you just added to your wish list</h5>

	<p> <%= @new_wish.content %> </p>

</body>
</html>