<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Welcome <%= @user.name %> </h1>

	<h5>Here is the new wish you just added to your wish list</h5>

	<p> <%= @new_wish.content %> </p>

	<form method="get" action="/wishes/<%= @new_wish.id %>/edit">
		<button type="submit">-Edit-</button>
	</form>
	<form method="post" action="/wishes/<%= @new_wish.id %>/delete">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" name="submit" value="Delete">
	</form>

</body>
</html>