
.orange {
	text-align: center;
	background-color: red;
}

.falsh_green {
	text-align: center;
	background-color: green;
}
/*
.caption,
.captionHigher,
.captionSix,
.movie,
.movie2,
.nu p,
.pracsquare {
    text-align: center
}

#slideFive,
.parallax,
body, 
html {
    height: 100%
}

.slidein,
.slidein2,
.slidein3,
.slidein4 {
    animation-iteration-count: 1;
    animation-direction: alternate
}

@media only screen and (max-width:700px) {
    .warner,
    .warner2 {
        border: 2px solid #fff;
        text-align: center;
        font-family: 'Open Sans', sans-serif;
        font-size: 125%
    }
    .mobilePhone {
        display: block!important;
        background-color: #000;
        color: #fff
    }
    .warner {
        margin-top: 50px
    }
    .warner2 {
        margin-top: 5px;
        margin-bottom: 5px
    }
    .gphone {
        display: none
    }
}

.caption,
.caption .border,
.captionHigher,
.captionHigher .border,
.nu p {
    font-family: 'Cormorant SC', serif
}

@media only screen and (max-width:1024px) {
    .parallax {
        background-attachment: scroll!important
    }
    .stories4 {
        max-width: 350px!important
    }
    .captionSix {
        margin-left: 35.5%!important
    }
}

div {
    display: block
}

.mobilePhone {
    display: none
}

#engagement,
.inview {
    display: block
}

.parallax {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

#engagement,
.caption,
.captionFive,
.captionFour,
.captionHigher,
.captionSix,
.captionThree,
.captionTwo,
.gracegrad,
.polaroidFive,
.polaroidFour,
.polaroidOne,
.polaroidSix,
.polaroidThree,
.polaroidTwo,
.scrollDown,
.slideDown,
.tylerodense {
    position: absolute
}

*/