
#title {
	text-align: center;
	background-color: red;
}

.flash_green {
	text-align: center;
	border: 3px solid red;
	background-color: yellow;
}

.flash_red {
	text-align: center;
	border: 3px solid red;
	background-color: red;
}

#box {
    display: block;
    border: 3px solid black;
    background-color: lightgreen;
    margin-top: 7px;
    margin-bottom: 4px;
}
.text {
	background-color: #F76161;
	border: 2px solid black;
	margin: 3px;
}
