<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Welcome <%=@user.name%> </h1>
	<!--Add all wishes to be seen! -->
	<ol>
	<% Wish.all.each do |wish| %>
	<% if wish.user.name == @user.name %>
		<li><%= wish.content %> 
			<form method="get" action="/wishes/<%= wish.id %>/edit">
				<button type="submit">-Edit-</button>
			</form>
			<form method="POST" action="/wishes/<%= wish.id %>/delete">
				<input id="hidden" type="hidden" name="_method" value="delete">
				<input type="submit" name="submit" value="Delete">
			</form>
		</li>
	<% end %>
	<% end %>
	</ol>

	<h4><a href="/wishes/add_wish">Add to your Wish List</a></h4>

	<h4><a href="/all_wishes">See Everyones Wishes</a>

	<form method="get" action="/logout">
		<button type="submit">-Logout-</button>
	</form>




</body>
</html>