<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Welcome <%=@user.name%> </h1>

	<!--Add all wishes to be seen! -->

	<h4><a href="/wishes/add_wish">Add to your Wish List</a></h4>



</body>
</html>