<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/wishes.css">
</head>
<body>
	<% if flash.has?(:message) %>
	  <div class="flash_red"><%= flash[:message] %></div>
	<% end %>

	<h2 class="text-center">Welcome back, let look at your Xmas Wish List</h2>

	<h4 class="text-center"> Log In to see your wish list! </h4>

	<form method="POST" action="/log_in" class="text-center">
		Name: <input type="text" name="name" value="">
		Email: <input type="text" name="email" value="">
		Password: <input type="password" name="password" value="">
		<input type="submit" name="submit" value="submit">
	</form>

	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>