<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<% if flash.has?(:message) %>
	  <%= flash[:message] %>
	<% end %>
	<h1>Happy to have you, let look at your Xmas Wish List</h1>

	<h3> Sign Up to see your wish list! </h3>

	<form method="POST" action="/sign_up">
		Name: <input type="text" name="name" value="">
		Email: <input type="text" name="email" value="">
		Password: <input type="text" name="password" value="">
		<input type="submit" name="submit" value="submit">
	</form>

</body>
</html>