<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Welcome back, let look at your Xmas Wish List</h1>

	<h3> Log In to see your wish list! </h3>

	<form method="POST" action="/sign_up">
		Name: <input type="text" name="name" value="Name for Santa to check">
		Email: <input type="text" name="email" value="Email for Santa to write to">
		Password: <input type="text" name="password" value="Keep your list safe with a password">
		<input type="submit" name="submit" value="submit">
	</form>

</body>
</html>