<h2 class="text-center title">Time to Make a Wish List</h2>
<h3 class="text-center title-2">Sign Up to make your wish list!</h3>

<div class="container">
	<div class="row">
	<div class="col-sm-4"></div>
		<div class="col-sm-4 offset-sm-4 boxes">
			<form method="POST" action="/sign_up" class="text-center">
				<label>Username: </label><br>
				<input type="text" name="username" value=""><br>
				<label>Email: </label><br>
				<input type="text" name="email" value=""><br>
				<label>Password:</label><br>
				<input type="password" name="password" value=""><br><br>
				<input type="submit" name="submit" value="Sign Up">
			</form>
		</div>
	</div>
</div>