<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
</head>
<body>
	<h1>Xmas Wish List</h1>

	<h3> X - Marks the spot! </h3>

	<p>Already a member, go ahead and <a href="/log_in">Log In!!!</a>

	<p>Not a member yet, but ready to give out your wish list??<a href="/sign_up">Sign Up!</a>

</body>
</html>
