	<div class="jumbotron">
		<h1 class="text-center">WELCOME TO WISH LISTS</h1>
	</div>    
		<h3 class="text-center"> Share your wish list's with friends and family </h3>

		<div class="container">
			<div class="row">	
				<div class="col-sm-1"></div>
					<div class="col-sm-5">
						<div class="col-sm-12 home_box">
							<h4 class="text-center">Already a member?</h4>
							<h4 class="text-center">Go ahead and</h4><br>
							<h3 class="text-center"><a href="/log_in">Log In!!!</a></h3>
							</h4>	
						</div>
					</div>
					<div class="col-sm-5">
						<div class="col-sm-12 home_box">
							<h4 class="text-center">Not a Member Yet???</h4>
							<h4 class="text-center">No Worries, just go ahead and</h4><br>
							<h3 class="text-center"><a href="/log_in">Sign Up!!!</a></h3>
						</div>
					</div>
			</div>
		</div>
