<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/wishes.css">
    <!-- <style>.orange { background-color: orange; }</style> -->
</head>
	<body>
		
		<h1 class="text-center">Welcome to Xmas Wish List</h1>
		    
		<h3 class="text-center"> X - Marks the spot! </h3>

		<p class="text-center">Already a member, go ahead and <a href="/log_in">Log In!!!</a>

		<p class="text-center">Not a member yet, but ready to give out your wish list??<a href="/sign_up">Sign Up!</a>


	<script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>
