<h1 class="text-center title"> WISH LIST </h1>
<h4 class="text-center title-2"> Share your wish list's with friends and family </h4>

<div class="container">
	<div class="row">	
		<div class="col-sm-1"></div>
			<div class="col-sm-5">
				<div class="col-sm-12 home_box">
					<h3 class="text-center"><a href="/log_in">MAKE A WISH</a></h3>
					</h4>	
				</div>
			</div>
			<div class="col-sm-5">
				<div class="col-sm-12 home_box">
					<h3 class="text-center"><a href="/sign_up">JOIN TO START WISHING</a></h3>
				</div>
			</div>
	</div>
</div>
