<!DOCTYPE html>
<html>
<head>
	<title>Your Christmas Wish List!!!</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <!-- <link rel='stylesheet' href='./styles/bootstrap.min.css' /> -->
    <link rel="stylesheet" type="text/css" href="wishes.css">
    <!-- <style>.orange { background-color: orange; }</style> -->
</head>
	<body>
		<div class="orange"><h1>Xmas Wish List</h1></div>

		<h3> X - Marks the spot! </h3>

		<p>Already a member, go ahead and <a href="/log_in">Log In!!!</a>

		<p>Not a member yet, but ready to give out your wish list??<a href="/sign_up">Sign Up!</a>

	</body>
</html>
